@import url('https://fonts.googleapis.com/css2?family=Spartan&display=swap');@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
:root {
    --blue: #2096da;
}
.container {
    max-width: 960px;
    margin: auto;
}
header, main { overflow: hidden }
header {
    background: #1b1b1b;
    border-bottom: 5px solid var(--blue);
}
nav {
    display: grid;
    grid-template-areas: 'logo' 'menu' 'cntc';
    text-align: center;
}
hr{
	  border: 1px solid #bababa;
		width:50px;
}
#logo {
    grid-area: logo;
    padding: 35px 0;
    background: var(--blue);
}
#menu {
    grid-area: menu;
}
#menu>li { 
    padding: 7px 15px; 
}
#menu a {
    color: #f0f0f0;
    font: 1.125em Spartan;
    text-transform: uppercase;
}
#contact span a{
    grid-area: cntc;
    color: #7f7c7c;
    font: .8em Spartan;
}
#contact>span{
    width: 100%;
    background: red;
}
#contact>span:first-child {
    width: 100%;
    background:none;
}
#contact>span{
    display: inline-block;
    width: 24px;
    height: 24px;
    padding: 6px 0;
    margin: 3px;
    border-radius: 12px;
    background: #2d2d2d;
    text-align: center;
}
main {
    background: url('../img/mbg1.jpg');
    padding: 50px 0 120px 0;
}
#articles {
    display: grid;
    grid-template-rows: 50vh 50vh 100vh 50vh 50vh 50vh 50vh 50vh 50vh 50vh 100vh 50vh 50vh 50vh 50vh 50vh;
    grid-row-gap: 15px;
}
#art2 { background: url('../img/art2.jpg') center/cover }
#art3 { background: url('../img/art3.jpg') center/cover }
#art4 { background: url('../img/art4.jpg') center/cover }
#art5 { background: url('../img/art5.jpg') center/cover } 
#art6 { background: url('../img/art6.jpg') center/cover }
#art8 { background: url('../img/art8.jpg') center/cover } 
#art10 { background: url('../img/art10.jpg') center/cover }
#art11 { background: url('../img/art11.jpg') center/cover }
#art12 { background: url('../img/art12.jpg') center/cover }
#art13 { background: url('../img/art13.jpg') center/cover }
#art16 { background: url('../img/art16.jpg') center/cover }

#art2a { background: url('../img/art2.jpg') center/cover }
#art3a { background: url('../img/art3.jpg') center/cover }
#art4a { background: url('../img/art4.jpg') center/cover }
#art10a { background: url('../img/art10.jpg') center/cover }
#art11a { background: url('../img/art11.jpg') center/cover }
#art12a { background: url('../img/art12.jpg') center/cover }
#art13a { background: url('../img/art13.jpg') center/cover }
#art16a { background: url('../img/art16.jpg') center/cover }

#art2{grid-area:1/1/2/2}
#art1{grid-area:2/1/3/2}
#art3{grid-area:3/1/4/2}
#art4{grid-area:4/1/5/2}
#art5{grid-area:5/1/6/2}
#art7{grid-area:6/1/7/2}
#art6{grid-area:7/1/8/2}
#art8{grid-area:8/1/9/2}
#art9{grid-area:9/1/10/2}
#art10{grid-area:10/1/11/2}
#art11{grid-area:11/1/12/2}
#art14{grid-area:12/1/13/2}
#art12{grid-area:13/1/14/2}
#art13{grid-area:14/1/15/2}
#art15{grid-area:15/1/16/2}
#art16{grid-area:16/1/17/2}




#art1 ,#art7,#art9,#art14,#art15 {
	display:grid;
	grid-template-rows:25% auto 25%;
	padding:8px 0;
	background: rgba(20, 20, 20, 0.8);
	font:italic 1.2em  Georgia;
	color:#454545;;
    text-align: center;
	line-height: 1.25;	
} 

.buta{	
	align-self: center;
	display:grid;
	grid-template-columns:auto auto auto;
	justify-items: center;
	grid-column-gap:15px;
	padding: 0 10px;
	white-space: nowrap;
}
.buta2{	
	display:grid;
	grid-template-columns:auto auto auto;
	grid-column-gap:5px;
	justify-items: stretch;
	padding: 0 5px;
	white-space: nowrap;

}

.buta2 h3{
	color: #bababa;
    font: 1em Spartan;
	text-align: center;
	align-items: center;
    text-transform: uppercase;
	}
.
#art13a{grid-area:1/1/2/2}
#pp1{grid-area:1/2/2/3}
#art4a{grid-area:2/1/3/2}
#pp2{grid-area:2/2/3/3}
#art2a ,#art3a,#art4a ,#art10a ,#art11a,#art12a,#art13a ,#art16a{
background-color:#272727;
width:90px;	
height :80px;
  
}

#art2a {grid-area: 1/ 1 / 2 / 2 ;}
#art10a{grid-area: 1 / 2 / 2 / 3 ;}
#art11a {grid-area: 1 / 3 / 2/ 4 ;}
#art12a {grid-area: 2/ 1 / 3 / 2 ;}
#art3a {grid-area: 2 / 2 / 3 / 3 ;}
#art16a {grid-area: 2 / 3 / 3 / 4;}

#menu2>li { 
    padding: 7px 15px;
  	text-align: center;
}



#popular p{
	font: 0.8em  Montserrat;
	color:#c3c2c2;
	 line-height: 1.6;
}

#fdark { 
	background: #1b1b1b;
	padding-bottom:25px;	
}


#fsky { background: var(--blue); padding: 8px 0; }
#social { 
    display: grid;
    grid-template-columns: auto;
}
 
#social span {
    display: inline-block;
    width: 80%;
    padding: 22px 10px;
    margin: 15px;
    border-radius: 60px;
    background: rgb(45, 45, 45, .8);
    text-align: center;
	box-shadow:2px  2px  0 0 #121213;
	justify-self: center;	
}
#soc5 img  { margin :15px 0 0 0 ;}
	


#flickr{
	width:300px;
	display:grid;
	grid-gap:5px;
	text-align:center;
	padding:10px; 
}
#popular {
	width:300px;
	display:grid;
	grid-gap:5px;
	text-align:c;
	padding:10px; 	
}
#form {
	width:300px;
	display:grid;
	grid-gap:5px;
	padding:10px; 	
}

#pic{
	display:grid; 
	width:90%;
	grid-gap:5px;
	padding: 10px;
	justify-items: stretch; 
}
#pop{
	display:grid; 
	width:90%;
	grid-gap:5px 15px;;
	padding: 10px;
	justify-items: stretch; 
	text-align: left;
}
#fr1{
	display:grid; 
	width:90%;
	grid-gap:5px;
	padding: 0;
	justify-items: stretch;
}

#art2a {grid-area: 1/ 1 / 2 / 2 ;}
#art10a{grid-area: 1 / 2 / 2 / 3 ;}
#art11a {grid-area: 1 / 3 / 2/ 4 ;}
#art12a {grid-area: 2/ 1 / 3 / 2 ;}
#art3a {grid-area: 2 / 2 / 3 / 3 ;}
#art16a {grid-area: 2 / 3 / 3 / 4;}





#name{grid-area:1/ 1 / 2 / 3;}
#email {grid-area: 2/ 1 / 3 /3 ;}
#btn1{grid-area: 3 /2 / 4 /3;}

#form input{
	background-color:#272727;
	outline:0;
	border:none;
	color:#c3c2c2;
	width:280px;	
	height:34px;
    padding: 15px 5px ;
} 
#form button{
	background-color:#272727;
	outline:0;
	border:none;
	color:#c3c2c2;
	height:34px;
	font: 0.8em Spartan;
    text-transform: uppercase;
	padding: 5px 20px;
} 



#fsky ul a { 
    font: .82em Spartan;
    color: #fff;
    text-transform: uppercase;
    padding: 5px; 
  }
#fsky p {
    font:0.75em Spartan;
    color: #fff;
    padding: 5px;
    text-align: center;
}
#fsky p span { display: block }



@media only screen and (min-width: 768px) {
    nav {
        grid-template-areas: 'logo cntc' 'logo menu';
        grid-template-columns: 130px auto;
        grid-template-rows: auto 30px
    }
    #menu {
        display: grid;
        justify-content: end;
        grid-template-columns: auto auto auto auto auto
    }
    #menu>li:hover, .active { background: var(--blue) } 
    #contact { text-align: right }
    #contact>span:first-child { width: inherit }
	#contact a:hover{ color:#fff;}
	
	
    #articles {
        grid-template-columns: 24% 24% 24% 24%;
        grid-template-rows: 212px 212px 212px 212px 212px;
        justify-content: space-between
    }
    #art1{grid-area:1/1/2/2}
	#art2{grid-area:1/2/2/3}
	#art3{grid-area:1/3/3/4}
	#art4{grid-area:1/4/2/5}
	#art5{grid-area:2/1/3/2}
	#art6{grid-area:2/2/3/3}
	#art7{grid-area:2/4/3/5}
	#art8{grid-area:3/1/4/2}
	#art9{grid-area:3/2/4/3}
	#art10{grid-area:3/3/4/5}
	#art11{grid-area:4/1/6/2}
	#art12{grid-area:4/2/5/3}
	#art13{grid-area:4/3/5/4}
	#art14{grid-area:4/4/5/5}
	#art15{grid-area:5/2/6/3}
	#art16{grid-area:5/3/6/5}

	
    
	
	#fdark>div { 
        display: grid;
        grid-template-columns: auto auto auto auto;  
        text-align:center;
        	
    }

	
    #social { 
        grid-column: 1 / span 4;
        grid-template-columns: auto auto auto auto auto auto auto;
        justify-content: space-between;
        margin: -60px 0 0 0;
    }

	#social span {
    display: inline-block;
    width: 108px;
    height: 108px;
    padding: 22px 0;
    margin: 15px;
    border-radius: 60px;
    background: rgb(45, 45, 45, .8);
    text-align: center;
	box-shadow:2px  2px  0 0 #121213;	
}

    #menu2 {
        display: grid;
        justify-content: end;
        grid-template-columns: auto auto auto auto auto
    }
	#fd{
		 display: grid;
		 justify-content: center;;
		 grid-template-columns:300px 300px 300px ;
		 gap:10px;
	}
	
    #fsky>div { 
        display: grid; 
        grid-template-columns: auto auto;
        justify-content: space-between;
    }
    #fsky p span { display: inline }
}